body {
  font-family: 'Rubik One', sans-serif;
  background-image: url('images/tatooine-back.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 15px;
  color: #000000;
  margin-top: 15px;
  align-items: center;
}

h1 span {
  font-size: 10px;
  vertical-align: text-top;
}

.title-logo{
  width: 75px;
  background-color: none;
  vertical-align: middle;
}

.nav {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  width: 30px;
  margin: 5px 10px;
}

.presented-by-banner {
  display: flex;
  font-family: 'Rubik', sans-serif;
  height: 30px;
  width: 80%;
  background-color: #FFF2BF;
  border-radius: 2px;
  margin: 20px;
  font-size: 12px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
}

.jedi-logo {

  width: 40px;
  vertical-align: middle;;
}

.all-star-cards {
  width: 80%;
}

.hero-card {
  background-color: #FFfffF;
  margin: 20px 5px;
  font-family: 'Rubik', sans-serif;
}

.hero-banner {
  padding: 5px;
  background-color: #C1C1C1;
  color: #585858;
  text-align: center;
  text-transform: uppercase
}

.hero-banner p {
  margin: 5px 0;
}

.hero-card h3 {
  font-size: 80px;
  color: #910000;
}

.hero-picture {
  height: 200px;
  width: 200px;
  margin: 10px auto;
  border-radius: 50%;
  border: 3px solid #C1C1C1;
  background-position: center;
  background-size: cover;
}

.luke-pic {
  background-image: url(images/luke-headshot.jpg);
}

.han-pic {
  background-image: url(images/han-headshot.jpg);
}

.leia-pic {
  background-image: url(images/leia-headshot.jpg);
}

.chewie-pic {
  background-image: url(images/chewbacca-headshot.png);
}

.hero-stats {
  margin: 10px 20px;
}

hr{
  align: center;
  width: 95%;
}

.card-footer {
  font-size: 25px;
  margin: 20px 20px;

}

.hero-card-footer {
  text-align: center;
}

.hero-card-footer p img {
  height: 20px;
  vertical-align: middle;
  margin: 10px 10px;

}


@media screen and (min-width:650px) {

  .all-star-cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;;
  }

  .hero-card {
    margin: 10px 5px;
    width: 48%;

  }

  .hero-banner {
    font-size: 10px;
  }

  .hero-picture {
    height: 150px;
    width: 150px;
    margin: 10px 15px 10px 10px;
    float: left;
  }


}
